.container-card {
  border: 1px solid $rick-color;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  min-height: 520px;
  max-height: 520px;
}

.img-card {
  width: 90%;
  border: 1px solid black;
  border-radius: 12px;
}